@font-face {
    font-family: 'Amarai-Bold';
    src: url('../public/fonts/Almarai-Bold.ttf');
}
@font-face {
    font-family: 'Amarai-ExtraBold';
    src: url('../public/fonts/Almarai-ExtraBold.ttf');
}
@font-face {
    font-family: 'Amarai-Light';
    src: url('../public/fonts/Almarai-Light.ttf');
}
@font-face {
    font-family: 'Amarai-Regular';
    src: url('../public/fonts/Almarai-Regular.ttf');
}