.site-home{
    position: relative;
    &__image{
        height: unset !important;
        position: relative !important;
    }

    &__content{
        position: absolute;
        z-index: 2;
        bottom: 100px;
        right: 100px;
        &::after{
            content: "";

        }
    }
}

.site-home-search{
    position: relative;
    background: $color-terciario-oscuro;
    padding: 95px 0;
    .site-home-search__image{
        position: absolute;
        top: 0;
        left: 100px;
    }
    .site-home-search__contain{
        background: $color-primario;
        width: 95%;
        margin: auto;
        padding: 60px 20px;
        .site-home-search__title{
            color: $color-terciario-oscuro;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 3rem;
            text-align: center;
        }
        .site-home-search__form{
            background-color: $color-seventenario;
        }
        .site-home-search__label{
            font-size: 1.5rem;
            font-weight: 700;
            color: $color-terciario;
            margin-bottom: 1rem;
        }
        .site-home-search__divider{
            width: 2px;
            background-color: $color-yellow;
            opacity: 1;
            border-color: none;
            height: 80%;
            align-self: self-end;
        }
        .site-home-search__button{
            border-radius: 0;
            font-weight: 600;
            font-size: 1rem;
            padding: 20px 30px;
            height: 45%;
            text-transform: capitalize;
            &.background-color-cuaternario{
                &:hover{
                    opacity: 0.5;
                    background: $color-cuaternario;
                }                
            }

            &.background-color-secundario{
                &:hover{
                    opacity: 0.5;
                    background: $color-secundario;
                }                
            }

        }
    }
}


.site-home-service{
    margin: 200px 0;
    text-align: center;
    .site-home-service__title{
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 3px;
        color: $color-secundario;
    }
    .site-home-service__description{
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
}

.content__title{
    color: $color-primario;
    letter-spacing: 4px;
    font-size: 3rem;
}

.content__description{
    color: $color-primario;
    font-size: 2rem;
    text-align: right;
}