.site-nav {
    position: absolute;
    z-index: 2;
    height: 100px;
    top: 50px;

    &__list {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      height: 100%;
    }
  
    &__item {
      font-size: 1.5rem;

      .site-nav__link {
        color: $color-primario;
        text-decoration: none;

        &--secondary{
          color: $color-terciario-oscuro;
          text-decoration: none;
        }
      }
    }
    
  }

  .site-nav-secondary {
    @extend .site-nav;
    position: relative;
    margin: 10px;
    top: 0;
    height: auto;
  }
