.site-nav {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100px;
    top: 50px;

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      height: 100%;
    }
  
    &__item {
      

      .site-nav__link {
        color: $color-primario;
        text-decoration: none;
      }
    }
    
  }
